$color_white: #fff;
$color_black: #000;

$app_date_color: rgba(46, 62, 92, 0.8);

$color_title: #1e1f4b;
$color_text: #2e3e5c;
$color_text_2: #03014c;
$color_accent: #706fe5;
$color_bg_2: rgba(112, 111, 229, 0.02);
$color_form_tytle: rgba(30, 31, 75, 1);
$color_form_text: rgba(27, 29, 33, 0.75);
$color_bg_button: rgb(112, 111, 229);
$color_bg_button_sh: rgba(112, 111, 229, 0.5);
$color_form_bg: rgba(112, 111, 229, 0.15);
$color_fotter_line: rgba(234, 238, 243, 0.15);
$color_footer_bg: rgba(46, 62, 92, 1);
$footer_linc_color: rgba(255, 255, 255, 0.75);
$primary_info_pics_sh: rgba(0, 0, 0, 0.1);
$color_dec_xd: rgba(71, 1, 55);
$color_dec_f: rgba(43, 44, 52);
$color_dec_sh: rgba(43, 44, 52, 0.2);
$color_dec_dia: rgba(51, 51, 51, 1);

// $color_accent: #2947a9;
// $color_title: #292e3d;

// $color_hover: #F9995D;
$colums_gap: 3rem;
$colums-number: 2;
$card_row_gap: 3rem;
$rows_gap: 6rem;

$font_1: 'Poppins', sans-serif;
$transition_dur: 0.3s;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
