@use '../helpers/abstracts' as *;

.container_decor {
	position: relative;
	&::after,
	&::before {
		position: absolute;
		content: '';

		width: 10.8rem;
		height: 9.1rem;

		background-image: url(.././imgs/comments/decor.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include bp($point_3) {
			display: none;
		}
	}
	&::before {
		left: 7.5rem;
		top: -1rem;
	}
	&::after {
		right: 0.5rem;
		bottom: 5.5rem;
	}
}
.comments {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 67rem;
	&::after,
	&::before {
		position: absolute;
		top: -5rem;

		content: '';

		width: 5.6rem;
		height: 5rem;

		background-image: url(.././imgs/comments/quote.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&::after {
		@include bp($point_2, min) {
			left: -6rem;
		}
		@include bp_m($point_4, $point_3) {
			left: -3.5rem;
		}
		@include bp($point_5) {
			left: 0;
		}
	}
	&::before {
		@include bp($point_2, min) {
			right: -6rem;
		}
		@include bp_m($point_4, $point_3) {
			right: -3rem;
		}
		@include bp($point_5) {
			right: 0;
		}

		rotate: 180deg;
	}
}

.comments_content {
	overflow: hidden;
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}

.comments_title {
	text-transform: capitalize;
	@include bp($point_4, min) {
		margin-bottom: 6.7rem;
	}
	@include bp($point_5) {
		margin-bottom: 1.68em;
		@include adapt_font(28, 40, 425, 767);
	}
}

.comments__item {
	display: block;
	max-width: 100%;
}

.comments__item_text {
	font-weight: 400;
	line-height: 3.5;
	text-align: center;
	color: $color_text_2;
	@include bp($point_4, min) {
		font-size: 1.6rem;
	}
	@include bp($point_5) {
		@include adapt_font(9.2, 16, 425, 767);
		max-width: 41.8em;
	}
}

// nav

.comments_nav {
	display: flex;
	padding-top: 1rem;
}

.comments_nav__item {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-content: center;
	align-items: center;
	height: 21rem;

	cursor: pointer;
	.swiper-slide.swiper-slide-thumb-active & {
		min-width: 18rem;
	}
}

.comments_nav__img_w {
	border-radius: 50%;
	overflow: hidden;
	transition: all $transition_dur ease-in-out;
	flex-shrink: 0;

	.swiper-slide.swiper-slide-thumb-active & {
		height: 9.6rem;
		width: 9.6rem;

		// outline: 5px solid $color_accent;
		border: 0.5rem solid $color_white;
		box-shadow: 0 0 0 0.5rem $color_accent;
	}
	.swiper-slide:not(.swiper-slide-thumb-active) & {
		height: 7.8rem;
		width: 7.8rem;
	}
}

.comments_nav__img {
	@extend %cover_img;
}

.comments_nav__data {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	text-align: center;
	.swiper-slide:not(.swiper-slide-thumb-active) & {
		display: none;
	}
}

.comments_nav__name {
	font-size: 2.4rem;
	font-weight: 700;

	color: $color_title;
	white-space: nowrap;
}

.comments_nav__pos {
	color: $color_text;
	font-size: 2rem;
	font-weight: 500;
	white-space: nowrap;
}

.swiper-button-prev,
.swiper-button-next {
	@include bp($point_2, min) {
		display: none;
	}
	@include bp($point_3) {
		top: 25%;
		color: $color_accent;
	}
}
