@use '../helpers/abstracts' as *;
footer {
	padding: 5.1rem 0 5.7rem;
	background-color: $color_footer_bg;
}

.footer_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4.8rem;
	.media {
		display: flex;
		column-gap: 1.6rem;
	}
	@include bp($point_5) {
		flex-direction: column;
		row-gap: 3rem;
	}
}
.logo--white {
	color: $color_white;
	@include bp($point_5) {
		align-self: start;
	}
}

.media_pic {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
	background-color: $color_bg_button;
	text-decoration: none;
	cursor: pointer;
	.media_pic__img {
		display: block;
		width: 1.4rem;
		height: 1.6rem;
		object-position: center;
		object-fit: contain;
	}
}

.footer_bottom {
	border-top: 1px solid $color_fotter_line;
	padding-top: 4.8rem;
}
.footer_tytle {
	font-size: 18px;
	font-weight: 700;
	color: $color_white;
	margin-bottom: 1.9rem;
}
.footer_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include bp($point_2, min) {
		margin-bottom: 8.9rem;
	}
	@include bp($point_3) {
		flex-direction: column;
		row-gap: 3rem;
		margin-bottom: 5rem;
	}
	.footer_nav_list {
		display: flex;
		@include bp($point_2, min) {
			column-gap: 7rem;
		}
		@include bp($point_3) {
			align-self: start;
			column-gap: 5rem;
		}
		@include bp($point_5) {
			flex-direction: column;
		}
	}
}

.footer_nav__linc {
	font-size: 14px;
	font-weight: 400;
	color: $footer_linc_color;
	text-decoration: none;
}
.footer_copyright {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: $color_white;
}
