@use '../helpers/abstracts' as *;

.content {
	width: 100%;
	display: flex;
	column-gap: $colums_gap;
	@include bp($point_3){
		flex-direction: column;
		align-items: center;
		row-gap: 5rem;
	}
}
.content__coll {
	@include bp($point_2){
		width: calc(100% / $colums-number - $colums-gap * ($colums-number - 1) / $colums-number);
	}
	@include bp($point_3){
		width: 100%;
		max-width: 55.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.info {
		max-width: 49rem;
		margin-bottom: 5rem;
		.content__title {
			
			font-weight: 700;
			text-transform: capitalize;
			color: $color_form_tytle;
			@include bp($point_4, min){
				font-size: 4rem;
			}
			@include bp ($point_5){
				@include adapt_font(34, 40, 425, 768);
			}
			
		}
		
	}
}
.base_text__form{
	@include bp_m (1025px, 1180px){
		font-size: calc(18px + 2 * ((100vw - 1025px) / (1180 - 1025)));
	}
	@include bp ($point_5){
		@include adapt_font(16, 20, 425, 768);
		max-width: 24.1em;
	}
}
.agency_form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 49rem;
	height: 7.2rem;
	padding: 0 2rem;
	border-radius: 1.2rem;
	background-color: $color_form_bg;
	.agency_form__ico {
		@include bp($point_4, min){
			display: block;
			width: 2.4rem;
			height: 2.4rem;
		}
		@include bp ($point_5){
			display: none;
		}
	}
	.agency_form__input {
		width: 23.4rem;
		font-size: 16px;
		font-weight: 400;
		color: $color_text;
		background-color: transparent;
		border: none;
	}
	.agency_form__button {
		min-width: 17.2rem;
		height: 4.7rem;
		display: inline-block;
		line-height: 4.7rem;
		text-align: center;
		white-space: nowrap;
		border-radius: 1.2rem;
		font-size: 18px;
		font-weight: 600;
		color: $color_white;
		background-color: $color_bg_button;
		box-shadow: 0px 6px 20px 0px $color_bg_button_sh;
		border: none;
		cursor: pointer;
	}
	@include bp($point_4, min){
		
	}
	@include bp (768px, max){
		max-width: 42rem;
	}
}
.agency_form__img {
	@extend %contain_img;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: $colums_gap;
	row-gap: $rows_gap;
	@include bp ($point_5){
		justify-content: center;
	}
}
.card {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	max-width: 26.2rem;
	@include bp($point_4, min){
		width: calc(100% / $colums-number - $colums-gap * ($colums-number - 1) / $colums-number);
	}
	.card__ico {
		display: flex;
		align-items: center;
		width: 5rem;
		height: 5rem;
		border-radius: 1.2rem;
		overflow: hidden;
		background-color: $color_form_bg;
		.card__img {
			height: 2.4rem;
			width: 100%;
			object-position: center;
			object-fit: contain;
		}
	}
	.card__title {
		font-size: 20px;
		font-weight: 600;
		color: $color_title;
	}
	.card__text {
		font-size: 16px;
		font-weight: 400;
        color:$color_text ;
	}
	@include bp ($point_5){
		width: 100%;
	}
}
