.header {
	position: sticky;
	top: 26px;
	margin-bottom: 124px;
	.header_in {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.nav_list {
			display: flex;
			column-gap: 60px;
			.nav_list__link {
				text-decoration: none;
				font-size: 16px;
				font-weight: 400;
                color:#1E1F4B;
                border: 1px solid #fff;
                &:hover{
                    border: 1px solid #1E1F4B;
                }
			}
           
		}
	}
}
.logo{
    display: block;
    position: relative;
    width: 9.4rem;
    height: 3.8rem;
    line-height: 3.8rem;
    text-align:center;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    &::after{
        content: '';
        position: absolute;
        top: 2.1rem;
        right: 0;
        width: 0.6rem;
        height: 0.6rem;
        background: url(.././imgs/Ellipse_82.svg) center no-repeat;
    }
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1.6rem;
        height: 1.6rem;
        background: url(.././imgs/Ellipse_83.svg) center no-repeat;
    }
}
