@use '../helpers/abstracts' as *;
.section{
	@include bp(1024px, max){
		padding-top: 5rem;
	}
}
.hero_content {
	display: flex;
	@include bp(1024px, max){
		flex-direction: column;
		row-gap: 10rem;
		align-items: center;
	}
	@include bp(767px, max){
		row-gap: 5rem;
	}
}
.hero_content_info {
	max-width: 71.6rem;
	margin-right: -2rem;
	@include bp(1024px, max){
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0;
	}

}
.section_hero__title {
	font-size: 6rem;
	font-weight: 700;
	line-height: 10rem;
	color: $color_title;
	@include bp_m (1025px, 1180px){
		@include  adapt_font (40, 60, 1025, 1180);
	}

	@include bp(1024px, max){
		text-align: center;
	}
	@include bp(767px, max){
		@include adapt_font(30, 60, 425, 767);
		line-height: 1.7em;
	}
}
.section_hero__title--ind {
	margin-bottom: 4.2rem;
}
.products_link {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 5.9em;
	height: 1.8em;
	color: $color_bg_button;
	border: 0.13em solid $color_bg_button;
	span{
		position: absolute;
		width: 0.47em;
		height: 0.47em;
		border-radius: 50%;
		border: 0.13em solid $color_bg_button;
		background-color: $color_white;
	}
	span:nth-child(1){
		top: -0.28em;
		left: -0.28em;
	}
	span:nth-child(2){
		top: -0.28em;
		right: -0.28em;	
	}
	span:nth-child(3){
		bottom: -0.28em;
		right: -0.28em;
	
	}
	span:nth-child(4){
		bottom: -0.28em;
		left: -0.28em;	
	}
}
.base_text {
	font-size: 2rem;
	font-weight: 400;
	color: $color_form_text;
}
.base_text__hero {
	max-width: 27.75em;
	margin-bottom: 2.4rem;
	@include bp_m (1025px, 1180px){
		font-size: calc(18px + 2 * ((100vw - 1025px) / (1180 - 1025)));
	}
	@include bp(767px, max){
		@include adapt_font(14, 20, 425, 767);
	}

}
.hero_content_footer {
	display: flex;
	align-items: center;
	column-gap: 2.4rem;
	@include bp(1024px, max){
		width: 100%;
		justify-content: space-around;	
	}
	@include bp(500px, max){
		flex-direction: column;
		row-gap: 2rem;
	}
}
.hero_content_video {
	display: flex;
	align-items: center;
	column-gap: 1.3rem;
	width: 25.2rem;
	height: 8rem;
	padding: 0 3.4rem 0 1.1rem;
	border-radius: 4rem;
	text-decoration: none;
	.hero_content_video__ico {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4.8rem;
		height: 4.8rem;
		border-radius: 50%;
		background-color: $color_form_bg;
		.hero_content_video__img {
			display: block;
			width: 1rem;
			height: 1rem;
			object-position: center;
			object-fit: contain;
		}
	}
}
.hero_content_video__text {
	width: 14.6rem;
	height: 4.8rem;
	font-size: 16px;
	font-weight: 400;
	line-height: 2.4rem;
	color: $color_footer_bg;
}
.hero_content_decor {
	position: relative;
	bottom: 6.6rem;
	left: 8.6rem;
	@include bp(1024px, max){
		position: static;
		margin: 0 auto;
	}
	@include bp(767px, max){
		@include adapt_font(8, 10, 425, 767);
	}
	
}
.Hero_content_decor__box {
	position: relative;
	display: flex;
	align-items: end;
	justify-content: center;
	@include bp(1024px, max){
		width: 51.7em;
		height: 51.7em;
	}

	.primary_pic {
		display: block;
		width: 51.7em;
		height: 51.7em;
		z-index: 2;
		.primary_pic__img {
			width: 100%;
			height: 100%;
			object-position: 1em 1em;
			object-fit: contain;
			background-color: transparent;
		}
	}
}

.primary_pic__decor {
	position: absolute;
	left: 5.8em;
	bottom: -2.2em;
	width: 39.7em;
	height: 39.7em;
	border-radius: 50%;
	border: 1em solid $color_bg_button;
	background-color: $color_form_bg;
}
.primary_info::after {
	content: '';
	position: absolute;
	right: -4.9rem;
	bottom: -4.9rem;
	width: 8.3rem;
	height: 8.3rem;
	background: url(.././imgs/hero/dec_text.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.primary_info_ico {
	display: block;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	border: 2px solid rgba(233, 232, 250, 1);
	overflow: hidden;
	margin-right: -2em;
	.primary_info_ico__img {
		@extend %cover_img;
	}
}

.primary_info {
	position: absolute;
	bottom: -4.7em;
	left: 13.5em;
	z-index: 3;
	width: 23.9em;
	border-radius: 0.9em;
	box-shadow: 0px 6px 20px 0px $primary_info_pics_sh;
	padding: 1.3em 2.6em;
	background-color: $color_white;
}
.primary_info_pics {
	display: flex;
	margin-bottom: 0.8em;
}
.primary_info_text_box {
	display: flex;
	align-items: center;
	column-gap: 0.8rem;
	.primary_info_text_star {
		display: block;
		width: 2.6rem;
		height: 2.6rem;
		.primary_info_text_star__img {
			@extend %contain_img;
		}
	}
}
.primary_info__text {
	font-size: 2em;
	font-weight: 600;
	line-height: 2.4rem;
	text-align: center;
	color: $color_title;
	margin-bottom: 0.8em;
}
.primary_info__text_2 {
	font-size: 1.6rem;
	font-weight: 500;
	text-align: center;
	color: $color_text;
	@include bp(767px, max){
		@include adapt_font(13, 16, 425, 767);
	}
}

.content_decor_xd,
.content_decor_figma,
.content_decor_diamond {
	position: absolute;
	z-index: 5;
	@include bp(767px, max){
       display: none;
    }
}

.content_decor_xd {
	transform: rotate(-17.81deg);
	top: 7rem;
	left: 3.3rem;
}
.content_decor_xd__bg {
	width: 6.8rem;
	height: 6.8rem;
	border-radius: 50%;
	background-color: rgba($color_dec_xd, 0.7);
	box-shadow: 0rem 0.6rem 1.6rem 0rem $color_dec_sh;
}
.content_decor_xd__f {
	transform: translateX(0.6rem);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6.8rem;
	height: 6.8rem;
	border-radius: 50%;
	background-color: $color_dec_xd;
	.content_decor_xd__w {
		display: block;
		width: 5rem;
		height: 3.4rem;
		.content_decor_xd__img {
			@extend %contain_img;
		}
	}
}

.content_decor_figma {
	transform: rotate(-17.81deg);
	top: 7.2rem;
	right: 2.1rem;
}
.content_decor_figma__bg {
	width: 8.4rem;
	height: 8.4rem;
	border-radius: 50%;
	box-shadow: 0rem 0.6rem 1.6rem 0rem $color_dec_sh;
	background-color: rgba($color_dec_f, 0.8);
}
.content_decor_figma__f {
	transform: translateX(0.6rem);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8.4rem;
	height: 8.4rem;
	border-radius: 50%;
	background-color: $color_dec_f;
	.content_decor_figma__w {
		display: block;
		width: 5rem;
		height: 5rem;
		.content_decor_figma__img {
			@extend %contain_img;
		}
	}
}

.content_decor_diamond {
	transform: rotate(-17.81deg);
	top: 0.6rem;
	left: -5.1rem;
}
.content_decor_diamond__bg{
	width: 4.7rem;
	height: 4.7rem;
	border-radius: 50%;
	box-shadow: 0rem 0.6rem 1.6rem 0rem $color_dec_sh;
	background-color:  rgba($color_dec_dia, 0.8);
}

.content_decor_diamond__f {
	transform: translateX(0.6rem);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.7rem;
	height: 4.7rem;
	border-radius: 50%;
	background-color: $color_dec_dia;

}
.content_decor_diamond__w{
	display: block;
	width: 2.6rem;
	height: 2.6rem;
	.content_decor_diamond__img {
		@extend %contain_img;
	}
}
